astroid==2.11.7
certifi==2022.9.24
colorama==0.4.5
dill==0.3.6
flit_core==3.6.0
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.7.0
pip==22.3.1
platformdirs==2.5.2
pylint==2.14.5
setuptools==65.5.0
tomli==2.0.1
tomlkit==0.11.1
typing_extensions==4.4.0
wheel==0.37.1
wincertstore==0.2
wrapt==1.14.1
